.menuPlaylist_container {
  @media screen and (max-width: 550px) {
    display: none;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #848484;
      font-size: 16px;
      margin: 10px 0;
      font-weight: 600;
      text-transform: uppercase;
    }
    i {
      cursor: pointer;
      color: #f1f1f1;
    }
  }
  .playList_items {
    margin: 10px 0;
    height: 150px;
    overflow: scroll;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #848484;
        font-size: 16px;
        p {
          flex-grow: 1;
          margin-left: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          display: inline;
        }
        .trash {
          &:hover {
            color: rgb(189, 30, 30);
            scale: 1.2;
            cursor: pointer;
          }
        }
        &:hover {
          .list {
            color: #f1f1f1;
          }
          p {
            color: #f1f1f1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
